.banner{
	position: absolute;
	left: 300px;
	top: 110px;
	height: 440px;
	width: 825px;
	background-color: #5FB404;
	border-radius: 10px;
	transition: 1s;
}


.fondo{
	position: relative;
	top: 10px;
	left: 10px;
	height: 415px;
	width: 800px;
	background: url(../fotos/h1.jpg);
	transition: 3s;
}
.titulo{
	
}
.letras{
	position: absolute;
	height: 50px;
	width: 250px;
	top: 200px;
	left: 300px;
	text-align: justify;
	background: #FFFFFF00;/* transparente */
	color:#F7F8E0;
}
.parrafo{
	
	position: absolute;
	height: 50px;
	width: 250px;
	top: 200px;
	left: 300px;
	text-align: center;
	background: #FFFFFF00;/* transparente */
	color:#FFFFFF00;
}
.banner:hover{
	background-color: #FACC2E;
	border-radius: 60px;
	transition: 1s;
}
.banner:hover .fondo{

	
	clip-path: circle(200px at center 200px);
		transition: 3s;
}
.banner:hover .letras{
	color:#FACC2E;
	transition: 2s;
	top: 50px;
}
.banner:hover .parrafo{
	transition: 3s;
	top: 100px;
	color:#F3E2A9;
	display: inline;	
}